/* -------------------- FONTS -------------------- */

@font-face {
    font-family: 'Gotham Book'; 
    src: url(fonts/gotham/Gotham-Book.otf) format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Gotham Bold'; 
    src: url(fonts/gotham/Gotham-Bold.otf) format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Gotham Medium'; 
    src: url(fonts/gotham/Gotham-Medium.otf) format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Gotham Light'; 
    src: url(fonts/gotham/Gotham-Light.otf) format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}



/* -------------------- BASIC SETUP -------------------- */

/* Basic reset to ensure consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the font and background color */
body {
    font-family: 'Gotham Book', Arial, sans-serif;
    color: #cacaca; 
    background-color: #000000;
}

/* Container to center content and add padding */
.container {
    width: 100%;
    margin: 0 auto;
}

/* Normal link state */
a {
    color: #cacaca;
    text-decoration: none; 
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

/* Hover state */
a:hover {
    color: #eeeeee; 
    font-size: 101%;
}



/* -------------------- HEADER STYLING -------------------- */

header {
    background-color: #000000;

    position: sticky;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 10; /* Keeps header above other content */ 

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 25px; 
    padding-bottom: 25px;


    font-family: 'Gotham Medium', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 50%; 
}

h1 {
    font-size: 25px;
    margin: 5px;
}



/* -------------------- WORKS STYLING -------------------- */

.works {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: normal;
}

.works img, .works i {
    width: 100%;
    height: auto; 

    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
    padding-right: 0px;

    margin: 0px; 
}

.kairos {
    color: gainsboro; 
    background-color: #21252c;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.turn {
    color: #000000; 
    background-color: lightblue;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.shrimp {
    color: cornsilk; 
    background-color: #3b4c71;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.bpr {
    color: whitesmoke; 
    background-color: #7988bd;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.turtle {
    color: green; 
    background-color: lightgreen;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.hope {
    color: #d0e0de; 
    background-color: #014240;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.designers {
    color: gainsboro; 
    background-color: navy;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.city {
    color: gainsboro; 
    background-color: #7b818c;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.votes {
    color: gainsboro; 
    background-color: #2454FF;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
}

.row img, .row i {
    width: 50%;
    height: auto; 

    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
    padding-right: 0px;
}

.row p {
    font-size: smaller;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.info p {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: normal;
    font-size: smaller;

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

/* -------------------- MORE WORKS STYLING -------------------- */

.more {
    background-color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    gap: 25px; 

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.more p {
    padding-top: 0px; 
    padding-bottom: 5px; 
    padding-left: 0px;
    padding-right: 0px;
}

ul.links {
    list-style-type: square;   

    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: normal;
}

ul.links li {
    padding-top: 0px; 
    padding-bottom: 5px; 
    margin-left: 25px;
    padding-right: 0px;
}



/* -------------------- ABOUT STYLING -------------------- */

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    font-family: 'Gotham Book', Arial, sans-serif;

    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-left: 50px;
    padding-right: 50px; 
}

.about img, .about i {
    width: 100%;
    height: auto; 

    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.text {
    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px;
    padding-right: 25px;
}

.text p {
    padding-top: 0px; 
    padding-bottom: 10px; 
    padding-left: 0px;
    padding-right: 0px;
}



/* -------------------- FOOTER STYLING -------------------- */

footer {
    background-color: #000000;

    position: sticky;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 10; /* Keeps footer above other content */ 

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 25px; 
    padding-bottom: 25px;


    font-family: 'Gotham Medium', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 50%; 
}

.social-icons {
    font-size: 25px;
    gap: 25px; 
    margin: 5px;
}


/* Media Query for Tablets (e.g., 600px and up) */
@media (min-width: 600px) {
    .about {
        width: 90vw; 
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .row p {
        font-size: medium;
        
        padding-top: 25px; 
        padding-bottom: 25px; 
        padding-left: 25px;
        padding-right: 25px;
    }

    .info p {
        font-size: medium;
    } 

    .info {
        width: 50%; 
    }
}

/* Media Query for Tablets (e.g., 900px and up) */
@media (min-width: 900px) {
    .works {
        display: grid; /* From flex */
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }

    .about {
        width: 100vw; 
        margin-left: 0vw;
        margin-right: 0vw;

        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 0px; 
    }

    .row p {
        column-count: 2; 
        column-gap: 25px; 
        column-fill: auto; 
    }
}

/* Media Query for Desktops (e.g., 1600px and up) */
@media (min-width: 1600px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }
    
    .works {
        grid-template-columns: repeat(1, 1fr);
    }

    .about {
        width: 90vw; 
        margin-left: 5vw;
        margin-right: 5vw;
    }
}