* {
    margin: 0; 
    padding: 0; 
}

a:link {
    color: black; 
    text-decoration: none;
}

a:visited {
    color: black; 
    text-decoration: none;
}

a:hover {
    color: lightslategray; 
    text-decoration: none;
} 

a:active {
    color: lightslategray; 
}

.wrapper {
    background-color: white;
    width: 320px; 
    margin: 0 auto; 
}

.home {
    width: 50%; 
    padding-top: 2em; 
}

.navbar ul{
    list-style-type: none; 
    overflow: hidden;
    padding-bottom: 1.5em;
    color: black; 
    font-family: Arial, sans-serif; 
    font-size: 1.25em;
}

.navbar li {
    float: left; 
    padding-right: 0.5em;
}

.image {
    width: 100%; 
    padding-bottom: 1.5em;
}

.info {
    width: 100%; 
}

p {
    padding-bottom: 1em;
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    font-size: 1.25em; 
    line-height: 1.333em; 
}

.footer {
    width: 100%; 
}

h1 {
    text-align: center;
    padding-top: 2em; 
    padding-bottom: 2em;
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1em; 
    line-height: 1.333em; 
}

h4 {
    padding-bottom: 1.5em;
    color: black; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    font-size: 1.25em; 
    line-height: 1.333em; 
}

.contact {
    width: 100%; 
}

h3 {
    padding-top: 1em;
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-size: 1.25em; 
    line-height: 1.333em; 
}

.list li{
    padding-top: 1em; 
    text-align: center;
}

.list ul{
    list-style-type: none; 
    overflow: hidden; 
    color: black; 
    font-family: Arial, sans-serif; 
    font-size: 1.25em;
    line-height: 1.333em; 
}


@media only screen and (min-width: 1000px) {
    
    .wrapper {
        width: 768px; 
    }

    .home {
        width: 50%; 
        padding-top: 3em; 
    }
    
    nav {
        padding-bottom: 2em;
        font-size: 1.5em;
    }
    
    .image {
        width: 70%; 
        float: left; 
    }
    
    .info {
        width: 30%; 
        float: right; 
    }
    
    p {
        padding-bottom: 1em;
        padding-left: 1em;
    }

    .footer {
        clear: both;
    }

    h1 {
        padding-top: 2em; 
        padding-bottom: 2em;
        font-size: 1.5em; 
    } 

    h4 {
        display: none; 
    }

    h3 {
        text-align: center;
    }


}

@media only screen and (min-width: 1920px) {

    .wrapper {
        width: 75%
    }

    nav {
        font-size: 2em;
    }

    p {
        padding-left: 2em;
        font-size: 2em; 
    }

    h3 {
        font-size: 2em; 
    } 

    .list ul{
        font-size: 2em;
    }


}