* {
    margin: 0; 
    padding: 0; 
}

a:link {
    color: black; 
    text-decoration: none;
}

a:visited {
    color: black; 
    text-decoration: none;
}

a:hover {
    text-decoration: none; 
    opacity: 50%;
} 

a:active {
    opacity: 50%;
}

.wrapper {
    background-color: white;
    width: 320px; 
    margin: 0 auto; 
}

.home {
    width: 50%; 
    padding-top: 2em; 
}

.navbar ul{
    list-style-type: none; 
    overflow: hidden;
    padding-bottom: 1.5em;
    color: black; 
    font-family: Arial, sans-serif; 
    font-size: 1.25em;
}

.navbar li {
    float: left; 
    padding-right: 0.5em;
}

.image {
    width: 100%; 
    padding-bottom: 1.5em;
} 

.images {
    width: 100%; 
    padding-bottom: 1.5em;
} 

.slider {
    overflow: hidden;
    width: 100%;  
    padding-bottom: 1.5em; 
}

.slides { 
    width: 1920px; 
    height: 320px; 
    display: flex; 
    padding-bottom: 1.5em; 
}

.slides input {
    display: none;
}

.slide {
    width: 320px; 
    height: 320px; 
    transition: 1s; 
} 

.manual {
    padding-bottom: 1em; 
    width: 320px; 
    display: flex; 
    justify-content: center;

}

.manual-button {
    border: 2px solid #808080; 
    padding: 5px; 
    border-radius: 10px;
    cursor: pointer; 
    transition: 1s; 
    margin: 0.25em; 
} 

.manual-button:hover {
    background: #808080;
}

#radio1:checked ~ .first {
    margin-left: 0%;
} 

#radio2:checked ~ .first {
    margin-left: -16.666%;
}

#radio3:checked ~ .first {
    margin-left: -33.333%;
}

#radio4:checked ~ .first {
    margin-left: -50%;
}

#radio5:checked ~ .first {
    margin-left: -66.666%;
}

#radio6:checked ~ .first {
    margin-left: -83.333%;
}

.info {
    width: 100%; 
    padding-bottom: 1.5em;
}

p {
    padding-bottom: 1em;
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    font-size: 1.25em; 
    line-height: 1.333em; 
}

h1 {
    text-align: center;
    padding-top: 1em; 
    padding-bottom: 1em;
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1em; 
    line-height: 1.333em; 
} 

.button { 
    border: 2px solid black; 
    background-color: inherit; 
    padding: 0.5em 2em; 
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
} 

.button:hover {
    background-color: #A9A9A9;
}

h4 {
    padding-bottom: 1.5em;
    color: black; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    font-size: 1.25em; 
    line-height: 1.333em; 
}

.gallery {
    background-color: white;
    width: 320px; 
    margin: 0 auto; 
    padding-top: 1em;
    padding-bottom: 3em;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 1em; 
} 

.gallery img {
    width: 100%; 
    height: 100%; 
}

.project {
    width: 100%; 
    padding-bottom: 1.5em;
}

.contact {
    width: 100%; 
}

h3 {
    padding-top: 1em;
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-size: 1.25em; 
    line-height: 1.333em; 
}

.list li{
    padding-top: 1em; 
    text-align: center;
}

.list ul{
    list-style-type: none; 
    overflow: hidden; 
    color: black; 
    font-family: Arial, sans-serif; 
    font-size: 1.25em;
    line-height: 1.333em; 
}


@media only screen and (min-width: 1000px) {
    
    .wrapper {
        width: 768px; 
    }

    .home {
        width: 50%; 
        padding-top: 3em; 
    }
    
    nav {
        padding-bottom: 2em;
        font-size: 1.5em;
    }
    
    .image {
        width: 70%; 
        float: left; 
    }

    .slider {
        width: 70%;  
        float: left; 
    }
    
    .slides { 
        width: 3228px; 
        height: 538px; 
    }
    
    .slide {
        width: 538px; 
        height: 538px; 
    } 
    
    .manual {
        padding-bottom: 0em; 
        margin-top: -40px;
        width: 538px; 

    }
    
    .info {
        width: 30%; 
        float: right; 
    }
    
    p {
        padding-bottom: 1em;
        padding-left: 1em;
    }

    h1 {
        padding-top: 2em; 
        padding-bottom: 2em;
        font-size: 1.5em; 
    } 

    button {
        clear: both; 
        flex: none; 
    }

    h4 {
        display: none; 
    }

    .gallery {
        width: 768px; 
        grid-template-columns: repeat(4, 1fr); 
        grid-gap: 2em; 
    }

    h3 {
        text-align: center;
    }


}

@media only screen and (min-width: 1920px) {

    .wrapper {
        width: 75%
    }

    nav {
        font-size: 2em;
    }

    p {
        padding-left: 2em;
        font-size: 2em; 
    }

    h3 {
        font-size: 2em; 
    } 

    .list ul{
        font-size: 2em;
    }

    .gallery {
        width: 75%; 
    }

}