/* FONTS */

/* Set up installed fonts */ 
@font-face {
    font-family: 'Gotham Book'; 
    src: url(fonts/gotham/Gotham-Book.otf) format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Gotham Bold'; 
    src: url(fonts/gotham/Gotham-Bold.otf) format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Gotham Medium'; 
    src: url(fonts/gotham/Gotham-Medium.otf) format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Gotham Light'; 
    src: url(fonts/gotham/Gotham-Light.otf) format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}



/* BASIC SETUP */
/* BASIC SETUP */
/* BASIC SETUP */

/* Basic reset to ensure consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the font and background color */
body {
    font-family: 'Gotham Book', Arial, sans-serif;
    color: #cacaca; 
    background-color: #000000;
}

/* Container to center content and add padding */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Normal link state */
a {
    color: #cacaca;
    text-decoration: none; 
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

/* Hover state */
a:hover {
    color: #ffffff; 
    font-size: 102%;
}

/* Visited state */
a:visited {
    color: inherit; 
}



/* ------------------------------------------------------------------- */



/* HEADER STYLING */ 
/* HEADER STYLING */
/* HEADER STYLING */

header {
    text-align: center;
    padding-top: 40px; 
    padding-bottom: 40px;
}

header h1 {
    text-transform: uppercase;
    font-family: 'Gotham Medium', Arial, sans-serif;
    letter-spacing: 100%; 
    font-size: 2em; 
} 



/* SLIDESHOW STYLING */
/* SLIDESHOW STYLING */
/* SLIDESHOW STYLING */

.slideshow-item {
    text-align: center;
    margin-bottom: 20px;
}

.slideshow-item img {
    width: 100%;
    max-height: auto; 
    margin-bottom: 20px;
}

.border {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}



/* ABOUT STYLING */ 
/* ABOUT STYLING */ 
/* ABOUT STYLING */ 

.footer-content {
    float: right; 
    width: 40%;
}

.about-content {
    float:left;
    width: 40%;
}

.photo img, .photo i {
    width: 100%; 
    justify-content: center;
}

.text p {
    padding-bottom: 20px;
    text-align: left;
}

h3 {
    text-align: center;
}



/* FOOTER STYLING */
/* FOOTER STYLING */
/* FOOTER STYLING */

footer {
    text-align: center;
    padding-top: 40px; 
    padding-bottom: 40px;
}

footer p {
    font-family: 'Gotham Book', Arial, sans-serif;
}

.social-icons {
    display: flex;
    gap: 80px; /* Space between icons */
    margin-top: 40px; 
    margin-bottom: 40px;
    justify-content: center;
}

.social-icons img, .social-icons i {
    color: #cacaca;
    font-size: 2em; 
    align-items: center;
}

.social-icons img, .social-icons i:hover{
    color: #ffffff;
    transition: color 0.5s ease-in-out;
}



/* ------------------------------------------------------------------- */ 



@media (max-width: 768px) {

    header {
        text-align: center;
        padding-top: 40px; 
        padding-bottom: 0px;
    }

    header h1 {
        font-size: 1.5em; 
    } 

    .slideshow-item {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .slideshow-item img {
        margin-bottom: 0px;
    }

    .border {
        width: 100%;
        padding-bottom: 0px;
    }

    .footer-content {
        float: none; 
        width: 100%;
    }

    .about-content {
        float: none;
        width: 100%;
        padding-bottom: 40px;
    }

    .photo img, .photo i {
        width: 100%; 
        padding: 20px;
    }

    .text p {
        font-size: small;
        padding-bottom: 10px;
    }

    h3 {
        font-size: medium;
    }

    footer {
        text-align: center;
        padding-top: 20px; 
        padding-bottom: 20px;
    }

    footer p {
        font-size: small;
    }

    .social-icons {
        gap: 40px; /* Space between icons */
    }

    .social-icons img, .social-icons i {
        font-size: 2em; 
    }
}